langchain==0.1.20
langchain-community==0.0.38
langchain-text-splitters==0.0.1
chromadb==0.4.22
sentence-transformers==2.6.1
transformers==4.41.2
torch==2.2.2
ollama==0.1.8
fastapi==0.95.2
uvicorn==0.22.0
python-multipart==0.0.5
typing_extensions==4.12.2
